.review-container, .confirm-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #9f79ee;
  background-color: #aa8de9;
  width: 55vw;
  height: 35vh;
  margin: 10vh auto;
}

.review, .confirm {
  padding: 10vh 10vh;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

span {
  margin: auto 12px;
  font-size: 3em;
}

.big {
  opacity: 0.7;
  font-size: 4em;
  transition: font-size .4s ease-in-out;
  cursor: pointer;
}

.small {
  opacity: 1;
  transform: scale(0.7);
  font-size: 3em;
  transition: font .2s ease-out;
  cursor: pointer;
}
